/* Use specific selectors instead of universal selector */
body {
    background-color: black;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header-content, .footer-heading {
    font-weight: normal;
    font-size: 50px;
  }
  
  .header-link {
    color: aquamarine;
    font-size: 16px;
  }
  
  .main-video {
    margin-top: 12px;
  }
  
  .main-personal-guide {
    font-size: 42px;
    font-weight: 300;
  }
  
  .main-remember-place {
    font-size: 21px;
    color: gray;
  }
  
  footer {
    margin: 20px 0;
  }